In [1]:
import sys
import subprocess
import importlib

packages = ['pandas', 'numpy','pathlib','os','glob', 'textblob']
[subprocess.check_call(['pip', 'install', pkg]) 
for pkg in packages if not importlib.util.find_spec(pkg)]

[]

In [2]:
import pandas as pd
import numpy as np

from pathlib import Path
import pathlib
import os
import glob

from textblob import TextBlob

In [3]:
# Change to working dir
os.chdir("Data")

### Load Data

In [14]:
# Loop through data folder and add all df's in a dict
data_dict={}
for txt_file in glob.glob("*.csv"):
    #list filenames
    filename = txt_file
    #create python tablenames
    df_name = str.replace(str.replace(txt_file,".csv","_raw")," ","_")
    #read files
    df_value = pd.read_csv(filename,  delimiter=",")
    #add to dict
    data_dict[df_name] = df_value

In [15]:
# Split dict into indivisual dataframes
for var in data_dict.keys():
    exec("{} = data_dict['{}']".format(var, var))

In [16]:
data_dict.keys()

dict_keys(['selection_campaign_7244_raw', 'donors_raw', 'selection_campaign_6169_raw', 'campaigns_raw', 'gifts_raw'])

In [17]:
donors_raw

,Unnamed: 0,donorID,zipcode,province,region,gender,language,dateOfBirth
0,0,100001,1861.0,Flemish Brabant,Flanders,F,NL,12/24/1967
1,1,100002,2260.0,Antwerp,Flanders,M,NL,01/14/1952
2,2,100003,1780.0,Flemish Brabant,Flanders,M,NL,12/23/1986
3,3,100004,1020.0,Brussels,Brussels,F,FR,03/29/1952
4,4,100005,1020.0,Brussels,Brussels,F,FR,06/25/1986
...,...,...,...,...,...,...,...,...
44686,44686,144687,4900.0,Liege,Wallonia,M,FR,09/12/1970
44687,44687,144688,3600.0,Limburg,Flanders,M,NL,11/28/1972
44688,44688,144689,3061.0,Flemish Brabant,Flanders,M,NL,04/21/1967
44689,44689,144690,1950.0,Flemish Brabant,Flanders,M,FR,05/07/1976
44690,44690,144691,1160.0,Brussels,Brussels,M,FR,06/05/1987

In [18]:
# Check for null values
for keys in data_dict.keys():
    print(keys, ":", data_dict[keys].isna().sum().sum())

selection_campaign_7244_raw : 0
donors_raw : 34
selection_campaign_6169_raw : 0
campaigns_raw : 0
gifts_raw : 15637

### Data exploration