In [2]:
import sys
import subprocess
import importlib

packages = ['pandas', 'numpy','pathlib','os','glob', 'textblob']
[subprocess.check_call(['pip', 'install', pkg]) 
for pkg in packages if not importlib.util.find_spec(pkg)]

[]

In [3]:
import pandas as pd
import numpy as np

from pathlib import Path
import pathlib
import os
import glob

from textblob import TextBlob

In [4]:
# Change to working dir
os.chdir("Data")

### Load Data

In [6]:
# Loop through data folder and add all df's in a dict
data_dict={}
for txt_file in glob.glob("*.csv"):
    #list filenames
    filename = txt_file
    #create python tablenames
    df_name = str.replace(str.replace(txt_file,".csv","_raw")," ","_")
    #read files
    df_value = pd.read_csv(filename,  delimiter=",")
    #add to dict
    data_dict[df_name] = df_value

In [7]:
# Split dict into indivisual dataframes
for var in data_dict.keys():
    exec("{} = data_dict['{}']".format(var, var))

In [8]:
data_dict.keys()

dict_keys(['selection_campaign_7244_raw', 'donors_raw', 'selection_campaign_6169_raw', 'campaigns_raw', 'gifts_raw'])

In [9]:
donors_raw

,Unnamed: 0,donorID,zipcode,province,region,gender,language,dateOfBirth
0,0,100001,1861.0,Flemish Brabant,Flanders,F,NL,12/24/1967
1,1,100002,2260.0,Antwerp,Flanders,M,NL,01/14/1952
2,2,100003,1780.0,Flemish Brabant,Flanders,M,NL,12/23/1986
3,3,100004,1020.0,Brussels,Brussels,F,FR,03/29/1952
4,4,100005,1020.0,Brussels,Brussels,F,FR,06/25/1986
...,...,...,...,...,...,...,...,...
44686,44686,144687,4900.0,Liege,Wallonia,M,FR,09/12/1970
44687,44687,144688,3600.0,Limburg,Flanders,M,NL,11/28/1972
44688,44688,144689,3061.0,Flemish Brabant,Flanders,M,NL,04/21/1967
44689,44689,144690,1950.0,Flemish Brabant,Flanders,M,FR,05/07/1976
44690,44690,144691,1160.0,Brussels,Brussels,M,FR,06/05/1987

In [10]:
# Check for null values
for keys in data_dict.keys():
    print(keys, ":", data_dict[keys].isna().sum().sum())

selection_campaign_7244_raw : 0
donors_raw : 34
selection_campaign_6169_raw : 0
campaigns_raw : 0
gifts_raw : 15637

### Data exploration

In [19]:
donors_raw[donors_raw["gender"].isna()]

,Unnamed: 0,donorID,zipcode,province,region,gender,language,dateOfBirth
83,83,100084,1500.0,Flemish Brabant,Flanders,NaN,NL,03/16/1950
217,217,100218,1300.0,Walloon Brabant,Wallonia,NaN,FR,08/04/1979
512,512,100513,1933.0,Flemish Brabant,Flanders,NaN,NL,03/17/1952
552,552,100553,1560.0,Flemish Brabant,Flanders,NaN,FR,12/05/1952
729,729,100730,2950.0,Antwerp,Flanders,NaN,NL,11/09/1959
883,883,100884,2910.0,Antwerp,Flanders,NaN,NL,10/28/1977
1056,1056,101057,2200.0,Antwerp,Flanders,NaN,NL,04/20/1938
2050,2050,102051,3650.0,Limburg,Flanders,NaN,NL,08/16/1936
2209,2209,102210,3970.0,Limburg,Flanders,NaN,NL,04/05/1980
2379,2379,102380,5080.0,Namur,Wallonia,NaN,FR,06/30/1982
2619,2619,102620,8690.0,West Flanders,Flanders,NaN,NL,04/20/1974
2811,2811,102812,8400.0,West Flanders,Flanders,NaN,NL,02/23/1964
2944,2944,102945,8570.0,West Flanders,Flanders,NaN,NL,12/20/1972
16375,16375,116376,3800.0,Limburg,Flanders,NaN,NL,08/27/1968
16497,16497,116498,8000.0,West Flanders,Flanders,NaN,NL,12/26/1989
16513,16513,116514,9030.0,East Flanders,Flanders,NaN,NL,12/06/1989
26537,26537,126538,4351.0,Liege,Wallonia,NaN,FR,08/02/1973
26677,26677,126678,2100.0,Antwerp,Flanders,NaN,NL,12/30/1979
26799,26799,126800,8200.0,West Flanders,Flanders,NaN,NL,07/16/1979
26883,26883,126884,1081.0,Brussels,Brussels,NaN,NL,08/05/1974
27095,27095,127096,3740.0,Limburg,Flanders,NaN,NL,03/14/1955
27286,27286,127287,2630.0,Antwerp,Flanders,NaN,NL,11/03/1985
27533,27533,127534,8792.0,West Flanders,Flanders,NaN,NL,12/22/1964
27620,27620,127621,9190.0,East Flanders,Flanders,NaN,NL,05/17/1983
27721,27721,127722,8460.0,West Flanders,Flanders,NaN,NL,01/19/1986
27878,27878,127879,1030.0,Brussels,Brussels,NaN,NL,03/30/1951
28022,28022,128023,3870.0,Limburg,Flanders,NaN,NL,08/13/1976
28439,28439,128440,1745.0,Flemish Brabant,Flanders,NaN,NL,10/22/1963
29030,29030,129031,3930.0,Limburg,Flanders,NaN,NL,10/07/1987
37197,37197,137198,4041.0,Liege,Wallonia,NaN,FR,08/09/1940
44646,44646,144647,1600.0,Flemish Brabant,Flanders,NaN,NL,04/28/1982
44682,44682,144683,9308.0,East Flanders,Flanders,NaN,NL,06/15/1985